body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: orange ;
    color: #fff;
    border-radius: 8px;
}

.container {
    margin-top: 20px;
}

.time-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 4px;
    border-radius: 8px;
    cursor: text;
}

.hour {
    width: 10%;
}

.description {
    flex: 1;
    padding: 8px;
    color: white;
    outline: none; /* Remove focus border */
    cursor: text; /* Makes it look editable */
}

.saveBtn, .deleteBtn {
    width: 40px;  /* Explicit width */
    height: 40px; /* Explicit height */
    padding: 5px 10px; /* Equal padding */
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.5rem; /* Ensure equal font-size */
    color: #fff; /* White text */
    outline: none; /* Remove focus border */
    background: transparent
    
}



.past {
    background-color: grey;
}

.present {
    background-color: red;
}

.future {
    background-color: green;
}